# Configuration file for environment variables


## User
CONTACT_EMAIL=your_contact_email_here


## Database
DUCKDB_PATH="data/events.duckdb"


## LLM Service

### Service
LLM_SERVICE=define_service_here    # e.g. "OpenAI"

### Models
OPENAI_MODEL=define_model_here    # e.g. "gpt-4o-mini"

### Keys
OPENAI_API_KEY=your_openai_api_key_here

### Cost control
BUDGET_LIMIT=define_budget_limit_here    # e.g. 0.10 (in USD)
OPENAI_INPUT_COST_PER_M=define_cost_here    # e.g. 0.15 (USD per 1M input tokens)
OPENAI_OUTPUT_COST_PER_M=define_cost_here    # e.g. 0.60 (USD per 1M output tokens)


## Tavily Web Search
TAVILY_API_KEY=your_tavily_key_here


## Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here


## Tracking
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=add_endpoint_here    # https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=add_langsmith_project_name
